{% extends "base.html" %}

{% block content %}
<section class="p-3 mb-4 bg-white rounded">
  <h2>Contacto</h2>
  <p>📧 <a href="mailto:lm.guerreroq@uea.edu.ec">lm.guerreroq@uea.edu.ec</a></p>
  <p>📞 +593 995 919 427</p>
  <p>📍 Universidad Estatal Amazónica, Puyo - Ecuador</p>
  <a href="https://www.facebook.com/groups/uea.ec/" target="_blank" class="btn btn-outline-primary btn-sm m-1">Facebook</a>
  <a href="https://www.instagram.com/uea.edu.ec/" target="_blank" class="btn btn-outline-danger btn-sm m-1">Instagram</a>
  <a href="https://www.linkedin.com/company/universidad-estatal-amaz%C3%B3nica-educaci%C3%B3n/" target="_blank" class="btn btn-outline-secondary btn-sm m-1">LinkedIn</a>
</section>
{% endblock %}